* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*Utility Classes*/
.btn-primary {
    background-color: #1ed954;
    color: white;
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 300mse ease;
}

.btn-primary:hover {
    background-color: #1ed760;
    cursor: pointer;
}

.logo {
    height: 40px;
    width: auto;
}

/*Navbar*/
#navbar {
    display: flex;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    justify-content: center;
}

#navbar .navbar-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

#navbar .navbar-container ul {
    display: flex;
    list-style: none;
    font-weight: bold;
}

#navbar .navbar-container ul li {
    padding: 0 20px;
    transition: color 300ms ease;
}

#navbar .navbar-container ul li:hover {
    color: #1ed954;
    cursor: pointer;
}

#navbar .navbar-container ul li:nth-child(3) {
    border-right: 1px solid white;
}

/*Showcase*/
#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url('img/images.png') center center/cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#showcase .showcase-container h2 {
    font-size: 5rem;
}

#showcase .showcase-container p {
    margin: 15px 0;
    font-size: 1.1rem;
}

/* Footer */
#footer {
    background-color: black;
    color: white;
    padding: 80px 0;
}

#footer .footer-container {
    display: flex;
    width: 60%;
    margin: auto;
    padding: 80px 0;
}

#footer .footer-info-items {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding: 20px;
}

#footer .footer-container .footer-menu {
    margin: 0 60px;
    list-style: none;
    white-space: nowrap;
    align-items: flex-end;
}

#footer .footer-container .footer-menu .footer-menu-item {
    margin: 25px 0;
    transition: all 300mse ease;
}

#footer .footer-container .footer-menu .footer-menu-item:hover {
    color: #1ed954;
}

#footer .footer-container .footer-menu p {
    font-weight: bold;
    text-transform: uppercase;
    color: #919496;
    font-size: 0.8rem;
}

/* Footer Socials */
.socials {
    display: flex;
    justify-content: space-around;
    width: 40px;
    height: 40px;
}

.socials i {
    margin: 0 20px;
    font-size: 1.7rem;
}

/* Footer Info */
.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
    float: right;
    padding-top: 50px;
}

.footer-info .footer-info-items {
    display: flex;
    list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
    margin: 0 20px;
    font-weight: bold;
    color: #919496;
    font-size: 0.70rem;
    transition: all 300mse ease;
}

.footer-info .footer-info-items .footer-info-item:hover {
    color: #1ed954;
    cursor: pointer;
}

.footer-info .rights .country {
    display: flex;
    transition: all 300mse ease;
}

.footer-info .rights .country p:hover {
    color: #1ed954;
    cursor: pointer;
}

.country p {
    font-weight: bold;
    display: inline-block;
    font-size: 0.78rem;
    align-items: center;
    margin-right: 10px;
    transition: all 300mse ease;
}

.country p:hover {
    color: #1ed954;
    cursor: pointer;
}

.brasil-flag {
    display: flex;
    width: 48px;
    height: 48px;
    display: inline-block;
    justify-content: flex-end;
    right: 0 1px;
}
